[submodule ".vim/bundles/VimClojure"]
	path = .vim/bundles/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule ".vim/bundle/VimClojure"]
	path = .vim/bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/jg/bufexplorer.git
